<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Mashweb.Club</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
	<div class="col-md-6">
	    <p>Mashweb.Club is a place for everyday users of the Web to mix, mingle, and collaborate with Web designers and Web developers to birth a new kind of Web where any Web user can easily create powerful web apps. Here everyday users can share their experiences, ideas, and preferences about their Web experiences and try out new styles of interacting with the Web. Web developers can test and get feedback on their experiments with code&mdash;code to make it possible for end users to evolve personalized, powerful websites online. Before long, Mashweb.Club will also be a place where end users can create such websites. We have shared some code here already and plan to share more and more.</p>
            <h2>Tom Elam</h2>
            <p>founded Mashweb.Club in January, 2017 to serve as a platform for sharing ideas and code to vastly simplify the creation of serious web apps. Discontent with the ever more complicated options and choices a would-be webmaster confronts when he wants to create quality web pages and web apps, Tom had set out ten years earlier to explore whether web pages could built up and adjusted in their "natural" environment&mdash;the web browser. This editing in the browser was actually the original intent of the Web's inventor, Sir Tim Berners-Lee.</p>
            <p>In December, 2016 Tom had finally decided he would have more motivation and focus for working on his in-browser editor if he presented the idea and his code to anyone interested and built a community around the essential points for the editor. Thus Mashweb.Club was born.</p>
            <p>Tom is an expat American programmer who lives in Mysore, India with his wife Hutoxi.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/images/Tom.png" alt="">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
